body{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background-attachment: fixed;
    background-size: cover;
}
form{
    position: relative;
    text-align: center;
    background: #ffffff6e;
    padding: 40px 0;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    
}
table{
    text-align: center;
    background: #ffffff6e;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.color{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}
.button{
    background: none;
    border-radius: 10px;
    border: 2px solid;

}